#about{
    position: relative;
    color: black;
}
.about_containers{
    gap: 2rem;
    margin-bottom:2rem ;
    margin-top: 2rem;

}
.section_text_p1{
    display: flex;
    justify-content: center;
}
.title{
    display: flex;
    justify-content: center;
}
.details_container{
    justify-content: center;
    flex-direction:column;
}

.about_detail_container{
    justify-content: center;
    flex-direction:column;
}
.about_containers, .about_detail_container{
    display: flex;
}
.arrow{
 position: absolute;
 right: -5rem;
 /* bottom: 2rem; */
 border: 2.5rem;

}
.details_container{
    padding: 1.5rem;
    flex: 1;
    border-radius: 2rem;
    border: rgb(0, 0, 0) 0.1rem solid;
    border-color: rgb(0, 0, 0);
    text-align: center;
}
.sction_container{
    gap: 4rem ;
    height: 80%;
}
.section_pic_container{
    height: 400px;
    width: 400px;
    margin: auto 0;
}
