#skills{
    position: relative;
}
.experience-sub-title{
    color: rgb(85, 85, 85) ;
    font-weight: 600;
    font-size: 1.75rem;
   margin-bottom: 2rem;

}
.Skills_details_container{
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.article-container{
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}
article{
    display: flex;
    width: 10rem;
    justify-content: space-around ;
    gap: 0.5rem;
}
article .icon{
    cursor: default;
}
.details_containers{
    padding: 1.5rem;
    flex: 1;
    border-radius: 2rem;
    border: rgb(0, 0, 0) 0.1rem solid;
    border-color: rgb(0, 0, 0);
}
.arrow{
    position: absolute;
 right: -5rem;
 /* bottom: 2rem; */
 border: 2.5rem;
}